body{
  font-family: "Comic Sans MS", sans-serif;
}
nav{
    background-color: #66b3ff;
}
#main-nav-bar{
  background-color: #66b3ff;
  border-style: none;
  border-radius: 0;
  margin-bottom: 0;
}

#collapsed-menu{
/*  background-color: #b3d9ff;*/
  border-top: 0px;
  border-bottom: 0px;
}

#menu-list{
    background-color: #b3d9ff;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.navbar>.container-fluid .navbar-brand{
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1{
  margin:0;
  font-size: 28px;
  color: #000000;
}
h2{
  margin-bottom: 20px;
}
h3{
  margin-top: 10px;
}
hr{
  border-color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}
#nav-menu-button{
  margin-top: 25px;
  border: 1px solid #000;
}

#nav-menu-button .icon-bar{
  background-color: #000;
}

section{
  padding: 20px;
}
button{
  background-color: #a6a6a6;
}

.navbar-default .navbar-nav>li>a{
  color: #000000;
  font-size: 18px;
}

#section-text{
  height: 2000px;
  background-color: #b3d9ff;
  margin: 0 auto 15px;
}
